*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  width: 550px;
  height: 550px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }

  &__loader {
    position: relative;
    left: 45%;
  }
}
